@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
html {
  overflow-y: hidden;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000 !important;
  background: #fff !important;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background: #000; /* Old browsers */
  
}

#content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow: auto;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.moving
{
  position: absolute;
  bottom: 0;
  animation: drive 10s linear;
  animation-iteration-count: 1;
  position: absolute;
  height: 100%;
  background: #000;
  width: 100%;
  opacity: 0;
}

@keyframes drive{
  0%{
    transform: translateX(0px);
    opacity: 1;
  }
  100%{
    transform: translateX(100vw);
    opacity: 1;
  }
  
}
.backgroundImageLoaded {
  opacity: 1;
}

.title {
  margin: 20px 0;
  position: relative;
}

.titleImage {
  object-fit: contain;
  width: 100%;
  max-width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.titleImageLoaded {
  opacity: 1;
}

#grid {
  flex: 1;
  padding: 8px;
}

@media (max-width: 600px) {
  .titleContainer {
    max-height: 120px;
    height: auto !important;
  }
}

@media (min-width: 600px) {
  .title {
    /* margin-top: 60px; */
  }

  #grid {
    padding: 16px 1.5em;
  }
}

@media (min-width: 1280px) {
  .title {
    /* margin-top: 80px; */
    margin-bottom: 0px;
  }
  #grid {
    padding: 16px 7.5em;
  }
}

.movedBal{
  font-size: 15px;
  color: #585757;
  text-align: center;
  margin: 40px auto;
  border: 1px solid #222;
}
.movedBal p
{
  color: #eee;
    padding: 0px 10px;
    line-height: 40px;
    margin: 0;
}
.movedBal-p2{
  font-size: 35px;
    font-weight: 600;
    background: #202020;
    width: 100%;
    color: #fff !important;
}
.availBal
{
  font-size: 25px;
  font-weight: normal;
  color: #999;
}
#grid
{
  align-items: flex-start;
}
.warningText
{
  position: absolute;
    top: 35px;
    z-index: 9;
    background: rgb(0 0 0 / 89%);
    width: 100%;
    left: 0;
    color: #fff;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.blinkAnim
{
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.blinkImg
{
  width: 18px;
  transform: translate(6px, 2px);
  animation: blink .7s steps(2, start) infinite;
  -webkit-animation: blink .7s steps(2, start) infinite;
}

@keyframes blink 
{
  to 
  { 
      visibility: hidden; 
  }
}
@-webkit-keyframes blink 
{
  to 
  { 
      visibility: hidden; 
  }
}