@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html {
  overflow-y: hidden;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  touch-action: manipulation;
}
body {
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000 !important;
  background: #fff !important;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background: #000; /* Old browsers */
}

#content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow: auto;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21212d;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.appName {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}
.beldexName {
  color: #3ec745;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  /* font-size: 1.8rem; */
  line-height: normal;
}
.app-left-content {
  color: #afafbe;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
}
.moving {
  position: absolute;
  bottom: 0;
  animation: drive 10s linear;
  animation-iteration-count: 1;
  position: absolute;
  height: 100%;
  background: #000;
  width: 100%;
  opacity: 0;
}

@keyframes drive {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}
.backgroundImageLoaded {
  opacity: 1;
}

.title {
  margin: 20px 0 20px;
  /* position: relative; */
}

.titleImage {
  object-fit: contain;
  width: 230px;
  max-width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.titleImageLoaded {
  opacity: 1;
}

#grid {
  /* flex: 1; */
  /* padding: 8px; */
  width: 100%;
  height: 100%;
}

.contract-address b {
  word-break: break-all;
}
.d-flex-center {
  height: 100%;
}

.rightPane-wrapper {
  /* width: 80%; */
  width: 78%;
  padding: 45px 56px;
  margin-left: auto;
  border-radius: 30px;
  border: 0.5px solid #56566c;
  background: #1c1c26;
  box-shadow: 0px 6px 94px 0px rgba(0, 0, 0, 0.2);
}
.movedBal {
  /* width: 66%; */
  font-size: 15px;
  color: #585757;
  text-align: center;
  margin: auto;
  /* border: 1px solid #222;
  border-radius: 10px; */
  /* background: #4a4a63; */

  border-radius: 16px;
  border: 1px solid #393954;
  background: #1f1f2e;
  padding: 20px 0;
  margin-bottom: 20px;
}
.movedBal .bal-title {
  /* color: #eee;
  padding: 0px 10px;
  line-height: 40px;
  margin: 0; */
  margin: 0;
  color: #afafbe;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.movedBal-p2 {
  /* font-size: 35px;
  font-weight: 600;
  background: #333344;
  width: 100%;
  color: #35af3b !important;
  border-radius: 0px 0px 10px 10px; */
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.availBal {
  /* font-size: 25px; */
  /* font-weight: normal;
  color: #588dff; */
  color: #afafbe;
  /* text-align: center;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 700;
line-height: normal; */
}
#grid {
  align-items: center;
}
.warningText {
  position: absolute;
  top: 35px;
  z-index: 9;
  background: rgb(0 0 0 / 89%);
  width: 100%;
  left: 0;
  color: #fff;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.blinkAnim {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.blinkImg {
  width: 18px;
  transform: translate(6px, 2px);
  animation: blink 0.7s steps(2, start) infinite;
  -webkit-animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.bsc a,
.bsc a:hover,
.bsc a:visited,
.bsc a:link,
.bsc a:active {
  text-decoration: none;
}

@media (max-width: 600px) {
  .titleContainer {
    max-height: 120px;
    height: auto !important;
  }
  .movedBal-p2 {
    font-size: 24px;
  }
  .movedBal {
    margin: 30px auto;
  }
  .availBal {
    font-size: 18px;
  }
  .title {
    margin: 20px 0 0px;
  }
}

@media (min-width: 600px) {
  .title {
    /* margin-top: 60px; */
  }

  #grid {
    padding: 16px 1.5em;
  }
}

@media (min-width: 1280px) {
  .title {
    /* margin-top: 80px; */
    margin-bottom: 0px;
  }
  #grid {
    padding: 16px 7.5em;
  }
}
